<div ng-controller="dashboardController">
	<div class="menuTable">
		<div ng-repeat="n in [0,1,2,3,4,5]">
			<div class="tile {{n%2==0?'rightTileContent':'leftTileContent'}}" style="top:{{n*getRowHeight()}}px">
				<a href="{{dashboardMenu.items[n].itemLink}}" class="tileLink">
					<div class="tileLinkContent" style="background-image:url('{{dashboardMenu.items[n].itemBg}}')">
						<img src="{{dashboardMenu.items[n].itemIcon}}" class="tileIcon"/><br/>
						<span style="">{{dashboardMenu.items[n].itemTitle}}</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="arrow-animation"></div>
</div>