<div ng-controller="locateController">
	<div class="textTile">
		<p class="sectionTitle">Join us for WICT Philadelphia Tech It Out event at:</p>
		<a class="bluelink" href="http://maps.apple.com/?q=Villanova University&ll=40.037029,-75.343316&z=10">
			<p ng-bind-html="locationInfo.addressText"></p>
			<!-- <div map-lazy-load="https://maps.google.com/maps/api/js">
		  		<ng-map center="40.037029, -75.343316" zoom="14">
		  			<marker position="40.037029, -75.343316"
		      			icon="img/locate.svg">
		    		</marker>
		  		</ng-map>
			</div> -->
			<img class="map" src="img/map.png"/>
		</a>
	</div>
	<div class="textTile">
		<a class="bioLink" href="#/universitymap"><span class="linkUnivMap">University Map</span>
		<span class="accessoryUnivMap"><img class="accessoryImg" src="img/forwardbtn.svg"/></span></a>
	</div>
</div>